.grafana-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #00ff9d;
  }
  
  .grafana-container {
    width: 100%;
    /* height: 100%; */
    margin: 10px;
  }
  
  .grafana-iframe {
    width: 100%;
    height: 750px;
    border: none;
  }
